*{
    margin: 0 auto;
    padding:0;
    
}

/* login page */

.login-background{
    background-image: url(../images/bckgrnd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login-background .navbar-brand .display-4{
    font-size: 54px;
    color: #fff;
    font-weight: 600;
}
form {
    max-width: 490px;
    background-image: url(../images/form-bckgrnd.png);
}

form a.btn.btn-lg.btn-primary.btn-block {
    padding: 18px 0px;
    background: #1ca10f;
    border-color: #fff;
    font-size: 24px;
    border-radius: 0;
}
form a.btn.btn-lg.btn-primary.btn-block:hover, .btn-block:active, .btn-block:focus, .btn-block:focus-within{
    background: #1ca10f;
    border-color:transparent;
    box-shadow: none;
    border-radius: 0;
}
.action{
    display: flex;
}
.action ul{
    display: contents;
}
.action ul li{
    list-style: none;
}
.action ul li:first-child {
    border-right: 2px solid #fff;
    padding-right: 60px;
}
.action a span{
    color: #fff;
    font-size: 16px;
    text-decoration: underline;
}
.action span.divder.mt-3{
    color: #fff;
    font-size: 24px;
}
.txt h3{
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
}
.txt p{
    font-size: 24px;
    color: #fff;
}
.form-signin input#inputEmail {
    text-align: center;
    height: 70px;
    font-size: 24px;
    border-radius: 0;
}
.form-signin input#inputPassword{
    text-align: center;
    height: 70px;
    font-size: 24px;
    border-radius: 0;
}
.form-signin input{
    border-color: #000; 
}
.form-signin input:focus, input:focus-within{
    border-color:transparent;
    box-shadow: none;
}
.foot{
    margin-top: 50px;
    color: #fff;
}



/* @media Query */

@media screen and (max-width:479px){
    .action{
        display:block;
    }
    .action ul li:first-child {
        border-right: none;
        padding-right: 0;
    }
    .txt h3 {
        font-size: 19px!important;
    }
    .txt p {
        font-size: 14px!important;
        color: #fff;
    }
    .login-background .navbar-brand .display-4{
        font-size: 34px;
    }
    .form-signin input#inputEmail {
        height: 50px!important;
    }
    .form-signin input#inputPassword {
        height: 50px!important;
    }
    form a.btn.btn-lg.btn-primary.btn-block {
        padding: 4px 0px!important;
    }
}

@media screen and (max-width:767px){
    .action{
        display:block;
    }
    .action ul li:first-child {
        border-right: none;
        padding-right: 0;
    }
    .txt h3 {
        font-size: 30px;
    }
    .txt p {
        font-size: 21px;
        color: #fff;
    }
    .form-signin input#inputEmail {
        height: 60px;
    }
    .form-signin input#inputPassword {
        height: 60px;
    }
    form a.btn.btn-lg.btn-primary.btn-block {
        padding: 10px 0px;
    }
}



/* index page */
.header{
    padding-top:10px;
    background: linear-gradient(#081735, #1d3376);
    color: #fff;
}
header .display-4, .nav-link, span a{
    color: #fff;
}
header a.navbar-brand {
    margin-left: 3%;
}
header a.nav-link.btn-primary {
    margin-left: 10px;
}
header nav ul a.nav-link.btn-primary {
    background: linear-gradient(#2c8135, #134119);
    border-radius: 5px;
    border: 2px solid #fff;
}
header nav.navbar.navbar-expand-lg.navbar-light {
	padding: .5rem 1rem 0rem 1rem;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #fff;
    border-color: transparent;
}

.top-nav .col-md-6 {
        display: flex;
}
header div#navbarNav {
    margin-right: 2%;
}
.top-nav a:hover {
    color: #0056b3;
    text-decoration: none;
}
.top-nav span p {
    margin-bottom: 0;
}
header .navbar-collapse {
    flex-grow: 0;
}
header a.nav-link:hover {
    color: #45b351;
}
header a.nav-link:active {
    color: #45b351;
}
.mobile{
    display: none;       
}
main .col-md-2{
    padding: 5px 0;
}
main .col-md-8{
    padding: 5px;
}
main .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
main .carousel-item img{
    height:390px;
}
main .btn-secondary{
    min-width: 80px;
    padding: .5rem .25rem;
    border-radius: 5px; 
    background: linear-gradient(#392458, #0a3f8c);
}
main .btn-secondary:focus{
    box-shadow: none;
}
main .btn-secondary:hover{
    background: linear-gradient(#7fde89, #2d8036);
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
main .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active {
    background: linear-gradient(#7fde89, #2d8036);
}
main .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}  
main .cta img{
    width: 30px;
}

main .badge{
    padding: 0.50em .8em;
}
main .badge-success {
    color: #fff;
    background-color: #2a7d33;
}
main .badge-danger {
    color: #fff;
    background: #061e42!important;
}
main span.badge.badge-success {
    margin-right: 5px;
}
main table thead {
    background: #061e42;
    color: #fff;
}
main table tr{
    border-bottom:1px solid #000;
}
main .table{
    margin-bottom: 0;
}
main .board table td {
    background: #e2e1e6;
    border-bottom: 2px groove #fff;
    margin-bottom: 1px;
}
.dash div#nav-all {
    padding: 0px 15px;
}
.dash .col-md-12{
padding-right: 0;
padding-left: 0;
}
.nav-tabs .nav-link {
    width: 25%;
    text-align: center;
    border: 1px solid #000;
    border-radius: 0;
    color: #fff;
    background: #232428;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    
    background: linear-gradient(#c10700, #480200);
}
 .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #fff;    
    background: linear-gradient(#c10700, #480200);
    border: 1px solid #000;
}
main .dash a.nav-item.nav-link.btn-success {
    margin-right: 2px;
}
main .dash a.nav-item.nav-link.btn-success:last-child {
    margin-right: 0px;
}
main .dash .btn-success:hover{
    background: linear-gradient(#c10700, #480200);
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background: linear-gradient(#c10700, #480200);
    border-color: transparent;
}

main .buttons a.btn.btn-primary.btn-sm {
    text-align: start;
    width: 100%;
    border-bottom: 2px solid #000;
    border-radius: 0;
    background: linear-gradient(#3162a9, #083d86);
}
main .buttons a.btn.btn-danger.dropdown-toggle {
    border-radius: 0;
}
main .buttons .btn-group{
    width: 100%;
}

.list-group.panel > .list-group-item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
  }
main .buttons a.btn.btn-default.btn-sm {
    width: 100%;
    background: #1e2832;
    color: #fff;
    border-radius: 0;
    border-bottom: 1px solid #8f9499;
    text-align: start;
}
main .buttons .full {
    width: 100%;
}
main .buttons a.list-group-item.btn-info{
    background: #1e2832;
    color: #fff;
    border-radius: 0; 
    border: 1px solid #8f9499;
    padding: .3rem 1.25rem;
}
main .buttons a.list-group-item.btn-info:hover {
    text-decoration: none;
}
main .buttons i.fas.fa-plus {
    float: right;
}
footer ul li{
    list-style: none;
}
footer span {
    font-size: 19px;
}
footer .col-md-8 {
    padding: 0px 8.5%;
}
footer li a:hover {
    color: #dc3545;
    text-decoration: none;
}
footer li a {
    color: #000;
}
footer .lnks{
    background: #e2e1e6;
}
.footer-nav{
    padding: 0;
    background: #001f60;
}
.footer-nav a.navbar-brand {
    margin-left: 0%;
}
.footer-nav ul.nav{
    margin-right: 0;
}
.footer-nav span{
    color: #fff;
}
.end span {
    font-size: 14px;
}
.navbar-toggler {
    background-color: white;
}



/* *******@media******** */

@media (min-width:1351px){
    header a.nav-link {
        padding: 6px;
    }
    
    header .display-4{
        font-size: 42px
    }
    .footer-nav span {
        font-size: 50px;
        color: #fff;
    }
    .footer-nav a.nav-link {
        font-size: 18px;
        padding: 5px;
    }
    .cta ul li.nav-item {
        margin-bottom: 5px;
    }
}
@media (min-width:1025px) and (max-width:1350px){
    header a.nav-link {
        font-size: 13px;
        padding: 5px 5px;
    }
    header a.nav-link.btn-primary {
        margin-left: 3px;
    }
    header li.nav-item {
        margin: 0;
    }
    header .display-4{
        font-size: 26px
    }
    .footer-nav span {
        font-size: 32px;
        color: #fff;
    }
    .footer-nav a.nav-link {
        font-size: 14px;
        padding: 5px;
    }
    .cta ul li.nav-item {
        margin-bottom: 5px;
    }
}
@media (min-width:992px) and (max-width:1024px){
    header a.nav-link {
        font-size: 12px;
        padding: 5px 5px;
    }
    header li.nav-item {
        margin: 0;
    }
    header .display-4{
        font-size: 26px
    }
    .footer-nav span {
        font-size: 32px;
        color: #fff;
    }
    .footer-nav a.nav-link {
        font-size: 12px;
        padding: 5px;
    }
    .cta ul li.nav-item {
        margin-bottom: 5px;
    }
    

}
@media screen and (max-width:991px){
    header{
        padding-top: 0;
    }
    header nav.navbar.navbar-expand-lg.navbar-light {
        padding: 10px 0;
    }
    .top-nav{
        display: none;
    }
    header ul.nav.justify-content-end {
        display: block;
    }
    header a.nav-link.btn-primary {
        margin-left: 0;
        width: 20%;
    }
    .mobile{
        display: block;  
        background: #1565fb;     
    }
    .mobile button.navbar-toggler {
        padding: .05rem .15rem;
    }
    .mobile li {
        list-style: none;
        padding: 0 10px;
    }
    .mobile li:last-child {
        margin-right: 0;
    }
    .mobile ul{
        margin-left: 0;
        margin-bottom: 5px;
    }
    .mobile .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        margin-bottom: 5px;
        margin-top: 2px;
        margin-right: 10px;
    }
    .buttons-dup .full {
        width: 100%;
    }
    .buttons-dup a.list-group-item.btn-info {
        background: #1e2832;
        color: #fff;
        border-radius: 0;
        border: 1px solid #8f9499;
        padding: .3rem 1.25rem;
    }
    main .col-md-2{
        margin: 0;
        display: none;
    }
    main .col-md-8{
        margin-right: 0;
    }
    #carouselIndicators {
        display: none;
    }
    .payment-logo {
        display: none;
    }
    main .ads {
        padding: 5px;
        display: none;
    }
    .footer-nav span {
        font-size: 24px;
        color: #fff;
    }
    .footer-nav a.nav-link {
        font-size: 14px;
        padding: 5px;
    }
    .dup .list-group.panel a {
        text-align: left;
        color: #fff;
        margin: 0;
    }
    .dup i.fas.fa-plus{
        float: right;
    }
    .buttons-dup a.btn.btn-default.btn-sm {
        width: 100%;
        background: #1e2832;
        color: #fff;
        border-radius: 0;
        border: 1px solid #8f9499;
        text-align: start;
    }
    .mobile nav.navbar.navbar-expand-lg.navbar-light {
        padding: .12rem 0rem;
    }
    main .cta img {
        width: 16px;
    }
}
@media (min-width:768px) and (max-width:991px){
    main .col-md-2 .buttons{
        width: 200%;
    }
    main .col-md-8{
        margin-right: 0;
        margin-left: 0;
    }
    main .col-md-8 .cta{
        width: 150%;
    }
    main .col-md-8 .board{
        width: 150%;
    }
    .cta ul li.nav-item {
        margin-bottom: 5px;
    }
    main .cta img {
        width: 16px;
    }
    
    
}

@media (min-width:485px) and (max-width:505px){
    .mobile li {
        padding: 0 6px;
    }

}
@media (min-width:480px) and (max-width:767px){
    .top-nav {
        display: none;
    }
    header .display-4{
        font-size: 40px;
    }
    header .top-nav .col-md-6.logo {
        text-align: center;
    }
    
    header button.navbar-toggler {
        padding: .15rem .5rem;
    }
    header a.nav-link.btn-primary {
        margin-left: 0;
        width: 50%;
    }
    .dash .col-md-12{
        padding-right: 0;
        padding-left: 0;
        }
    .dash div#nav-all {
        padding: 0px 15px;
    }
    .cta ul li.nav-item {
        margin-bottom: 5px;
    }
    .footer-nav nav.navbar.navbar-expand-lg.navbar-light {
        display: block;
    }
    .footer-nav ul.nav {
        display: block;
        /* text-align: left; */
        margin-left: 0;
    }
}
@media screen and (max-width:484px){
    .mobile li {
        line-height: 1.2;
        width: 79px;
    }
}
@media screen and (max-width:479px){
    .top-nav  {
        display: none;
    }
    
    header .display-4{
        font-size: 36px;
    }
    header a.navbar-brand{
        margin-right: 0;
        margin-left: 0;
    }
    header .logo a.navbar-brand {
        font-size: 50px;
        display: block;
    }
    header .top-nav .col-md-6.logo {
        text-align: center;
    }
    
    header button.navbar-toggler {
        padding: .15rem .5rem;
    }
    header a.nav-link.btn-primary {
        margin-left: 0;
        width: 50%;
    }
    main span.badge.badge-success {
        margin-right: 0px;
       
    }
    .nav-tabs .nav-link {
            padding: 10px 1px;
    }
    .cta ul li.nav-item {
        margin-bottom: 5px;
    }
    .dash div#nav-all {
        padding: 0px 15px;
    }
    .dash .col-md-12{
    padding-right: 0;
    padding-left: 0;
    }
    .footer-nav nav.navbar.navbar-expand-lg.navbar-light {
        display: block;
    }
    .footer-nav ul.nav {
        display: block;
        /* text-align: left; */
        margin-left: 0;
    }
}



/* inside page css */

.score_display {
    border: 1px groove;
}
.score_display span.badge.live {
    background: #ed143d;
    color: #fff;
}
.score_display p.teams-name {
    font-size: 20px;
}
.score_display span.on-bat-team {
    font-size: 24px;
}
.score_display span.live-score.badge {
    font-size: 26px;
    color: #fff;
    background: #287730;
}
.score_display span.over-list.badge {
    background: #001f60;
    color: #fff;
}
.details .card-header {
    width: 100%;
    padding: 0;
    background: #2a7d33;
}
.details a.btn.btn-link {
    color: #fff;
}
.details a.btn.btn-link.collapsed {
    color: #fff;
}
.details .btn-link:hover{
    text-decoration: none;
}
.details .btn-link:focus {
    text-decoration: none;
}
.details table tr{
    border: none;
}
.details th.w-40 {
    width: 60%;
}
.details span.font{
    color: #1ca10f;
}
.details span.favour {
    margin-right: 50%;
    font-size: 12px;
    color: #9027d0;
}
.details .card-header a.btn.btn-link {
    padding: 0 10px;
    font-size: 14px;
}
.details .card-header h2 {
    font-size: 1rem;
    padding: 3px;
}
.details th {
    font-size: 14px;
}
.details .table td{
    font-size: 14px;
}
.details .table th{
    padding: 5px;
}
.details span.open_indicator {
    padding: 0px 3px;
    border-radius: 100%;
    color: #fb0303;
    background: #fb0303;
    font-size: 10px;
}
.details a.dly-rprt:hover {
    text-decoration: none;
}
.highlight{
    background: yellow;
} 


/* *******@media***** */

@media (min-width:768px) and (max-width:991px){
    .score_display{
        width: 151%;
    }
    .details {
        width: 151%;
    }
}